body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board{
  width: 60vh;
  height: 60vh;
  background-color: #C9C9C9;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell{
  cursor: pointer;
  box-sizing: border-box;
  width: 20vh;
  height: 20vh;
  background-color: #C9C9C9;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70pt;
}

.cell:hover{
  background-color: #C6F59D;
}

.cell:active{
  background-color: #F5A79D;
}

@media (max-width: 850px) {
  .board{
    width: 60vw;
    height: 60vw;
  }
  .cell{
    width: 20vw;
    height: 20vw;
  }
}

